<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pbkhyglszy.gymnastics_manager.mapper.CompetitionMapper">

    <insert id="addNewCompetition" useGeneratedKeys="true" keyProperty="id">
        insert into competition (type, age_class_id, event_id)
        values (#{type}, #{ageClassId}, #{eventId})
    </insert>

    <delete id="deleteCompetitionById">
        delete
        from competition
        where id = #{id}
    </delete>

    <update id="modifyCompetitionById">
        update competition
        set age_class_id = #{ageClassId},
            event_id     = #{eventId}
        where id = #{id}
    </update>

    <select id="getCompetitionList" resultType="Competition">
        select *
        from competition
    </select>

    <select id="getCompetitionById" resultType="Competition">
        select *
        from competition
        where id = #{id}
    </select>


    <insert id="addAgeClass" useGeneratedKeys="true" keyProperty="id">
        insert into competition_age_class (name, min_age, max_age)
        values (#{name}, #{minAge}, #{maxAge})
    </insert>

    <delete id="deleteAgeClass">
        delete
        from competition_age_class
        where id = #{id}
    </delete>

    <update id="updateAgeClass">
        update competition_age_class
        set name = #{name},
            min_age   = #{minAge},
            max_age  = #{maxAge}
        where id = #{id}
    </update>

    <select id="getAllAgeClasses" resultType="AgeClass">
        select *
        from competition_age_class
    </select>


    <insert id="addEvent" useGeneratedKeys="true" keyProperty="id">
        insert into competition_event (event_name, gender)
        values (#{eventName}, #{gender})
    </insert>

    <delete id="deleteEvent">
        delete
        from competition_event
        where id = #{id}
    </delete>

    <update id="updateEvent">
        update competition_event
        set event_name = #{eventName},
            gender     = #{gender}
        where id = #{id}
    </update>

    <select id="getAllEvents" resultType="Event">
        select *
        from competition_event
    </select>

    <select id="getAthleteNumber" resultType="java.lang.Integer">
        select count(id)
        from athlete
        where id = (select athlete_id
                    from athlete_event
                    where event_id = #{eventId})
          and id = (select athlete_id
                    from athlete_age_class
                    where age_class_id = #{ageClassId})
    </select>
</mapper>